	/*故障处理页面css*/



	/*故障处理页面头部css*/

#fault_title{
	padding-top:0.01px;
	height: 72px;
	background-color: red;
}

	/*故障处理页面列表css*/

#fault_lists{
	width: 200px;
	height: 800px;
	background-color: #666;
	padding-top: 70px;
	padding-left: 30px;
}

#fault_lists a{
	margin-top:15px;
}

	/*故障处理页面内容css*/
#table-title{
	font-family: "宋体";
	font-size: 24px;
	font-weight: bold;
	color: #696969;
}
#fault_content{
	margin-top: 50px;
}

#fault_content_pending{
	padding-top: 20px;
	padding-bottom: 15px;
	width: 1000px;
}